<a href="https://colab.research.google.com/github/Shourya306/flask-api/blob/main/Linear_model_deployment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# Importing the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score

In [2]:
# Reading in the 50Startups csv dataset

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Module 6/M6W1D4 - API basics with Flask/50_Startups.csv')

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
# Inspecting the dataset

df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df.tail()

    R&D Spend  Administration  Marketing Spend       State    Profit
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [5]:
# Checking if there are any null values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

As you can see there aren't any null values in the data.

In [7]:
# Dealing with the categorical variable.

df['State'].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

The classes in the state variable are nominal in nature so I will be performing one hot encoding on them.

In [9]:
new_df = pd.get_dummies(df)
new_df.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [12]:
# Splitting the data into train & test.

X = new_df.drop('Profit',axis = 1)
y = new_df['Profit']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = .20, random_state = 0)

print({'X_train':X_train.shape,'X_test':X_test.shape,'y_train':y_train.shape,'y_test':y_test.shape})

{'X_train': (40, 6), 'X_test': (10, 6), 'y_train': (40,), 'y_test': (10,)}

In [19]:
# Rescaling the data.

scaler = MinMaxScaler()
X_train_scale = scaler.fit_transform(np.array(X_train))
X_test_scale = scaler.transform(np.array(X_test))

In [20]:
# Building the model

lr = LinearRegression()
lr.fit(X_train_scale,y_train)

LinearRegression()

In [24]:
# Making Predictions from the model built

y_pred = lr.predict(X_test_scale)

In [26]:
# Checking the accuracy of the model

r2_score(y_test,y_pred)

0.9347068473282426

The model accuracy is good so I don't need to improve it anymore.

In [29]:
# Corverting this colab file into a pickle file.

import pickle
pickle.dump(lr,open('linear_model.pkl','wb'))

In [31]:
# Downloading this pickle file to my local computer

from google.colab import files

In [32]:
files.download('linear_model.pkl')